<div class="p-4 mb-3 rounded widget-about">
    <h4 class="fst-italic fs-1">Qui sommes nous ?</h4>
    <img src="/" alt=""></img>
    <p class="mb-0 fst-italic"> Originaire de l'Ile de La Réunion, nous avons atteri en France il y a un peu plus de 5 ans. Nous y avons créés un petit cocon, et avons décidés de partager des recettes de nos créations avec des ami(e)s qui sont devenu(s) par la suite nos premier clients et qui ont lancé le bouche à oreille. Aujourd'hui nous espèrons vous faire découvrir des mélanges de saveurs explosifs. </p>
</div>