<div class="p-4 mb-3 rounded widget-about">
    <h4 class="fst-italic fs-1">Qui sommes nous ?</h4>
    <img src="/" alt=""></img>
    <p class="mb-0 fst-italic"> Originaire de l'Ile de La Réunion, nous avons atterit en France il y a un peu plus de 5 ans. Nous y avons créer un petit cocon, et avons décider de partager des recettes de nos créations avec des amis qui sont devenu par la suite nos premier clients et qui ont lancés le bouche à oreille. Aujourd'hui nous esperons vous faire découvrir des mélanges de saveurs explosif </p>
</div>