<div class="p-4">
    <h4 class="fst-italic">Pâtisserie</h4>
    <ol class="list-unstyled mb-0">
<<<<<<< HEAD
        
            <li><a class="text-decoration-none text-success" href="#">De Saison</a></li>
            <li><a class="text-decoration-none text-success" href="#">Entremet</a></li>
            <li><a class="text-decoration-none text-success" href="#">Cupcake/Muffin</a></li>
            <li><a class="text-decoration-none text-success" href="#">Tarte</a></li>
            <li><a class="text-decoration-none text-success" href="#">A partager</a></li>
       
=======
        {%  for category in categories %}
            <li><a class="text-decoration-none text-success" href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.name }}</a></li>
             
       {% endfor %}
>>>>>>> fcc999d8dcf99fa8007ab0357fcd4e18a3a7172c
    </ol>
</div>