<div class="p-4">
    <h4 class="fst-italic">Pâtisserie</h4>
    <ol class="list-unstyled mb-0">
        
            <li><a class="text-decoration-none text-success" href="#">De Saison</a></li>
            <li><a class="text-decoration-none text-success" href="#">Entremet</a></li>
            <li><a class="text-decoration-none text-success" href="#">Cupcake/Muffin</a></li>
            <li><a class="text-decoration-none text-success" href="#">Tarte</a></li>
            <li><a class="text-decoration-none text-success" href="#">A partager</a></li>
       
    </ol>
</div>